# Java
target/
*.class
*.jar


# Node
node_modules/
dist/

# Mac
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log

.env

terraform.tfstate
*.tfstate
*.tfstate.backup
.terraform/
CACHED

# Secrets and local config
*.tfvars
terraform.tfvars
*.pem
*.key
*.p12

# Kubernetes local kubeconfig
.kube/
.kube/config
kubeconfig

# Ignore Kubernetes secret manifests
infra/k8s/*secret*.yaml
!infra/k8s/*.example.yaml